---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Welcome from "../components/Welcome.astro";
import Footer from "../components/Footer.astro";
const pageTitle = "Home Page";
---

<Layout pageTitle={pageTitle}>
  <div class="h-screen flex flex-col">
    <Header />
    <Hero />
  </div>
  <Footer />
</Layout>
