<div class="mx-auto shadow-md h-full flex flex-col bg-white">
  <h1 class=" text-6xl font-bold text-center m-2 text-shadow-lg mb-4">Contacteer Mij</h1>
  <div class="bg-white dark:bg-gray-900 flex-grow flex items-center">
    <div
      class="mx-auto flex flex-col lg:flex-row justify-center shadow-md lg:w-9/10 lg:mb-4"
    >
      <div
        class="mx-auto flex-grow inset-shadow-lg text-white bg-linear-to-tr from-cyan-500 to-blue-500 w-9/10 sm:w-75/100 lg:w-1/2"
      >
        <div class="h-full flex text-center justify-center">
          <address class="p-8 flex flex-col justify-between not-italic">
            <h2 class="text-3xl mb-2">Contactgegevens</h2>
            <div class="py-4 border-b border-t-white">
              <span class="text-2xl">Telefoon:</span><br />
              <a href="tel:+32488492756">+32 (488) 49 27 56</a>
            </div>
            <div class="py-4 border-b border-t-white">
              <span class="text-2xl">E-mail:</span><br />
              <a href="mailto:remcodewolf@gmail.com">remcodewolf@gmail.com</a>
            </div>
            <div class="py-4">
              <span class="text-2xl">Adres:</span><br />
              Baron de Serretstraat 102<br />
              8200 Sint-Andries<br />
            </div>
          </address>
        </div>
      </div>

      <div class="mx-auto bg-white p-5 w-9/10 sm:w-75/100 lg:w-1/2">
        <div class="text-center">
          <p class="text-gray-400 dark:text-gray-400">
            Vul onderstaand formulier in om mij te contacteren.
          </p>
        </div>
        <div class="m-7">
          <form
            action="https://api.web3forms.com/submit"
            method="POST"
            id="form"
          >
            <input
              type="hidden"
              name="access_key"
              value="b7ff8b40-bae1-4f45-bedb-8d98e23584b9"
            />
            <input
              type="hidden"
              name="subject"
              value="New Submission from Web3Forms"
            />
            <input
              type="hidden"
              name="redirect"
              value="https://web3forms.com/success"
            />
            <input
              type="checkbox"
              name="botcheck"
              id=""
              style="display: none;"
            />
            <div class="mb-6">
              <label
                for="name"
                class="block mb-2 text-sm text-gray-600 dark:text-gray-400"
                >Voornaam en Naam</label
              >
              <input
                type="text"
                name="name"
                id="name"
                placeholder="Voornaam Naam"
                required
                class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500"
              />
            </div>
            <div class="mb-6">
              <label
                for="email"
                class="block mb-2 text-sm text-gray-600 dark:text-gray-400"
                >E-mailadres</label
              >
              <input
                type="email"
                name="email"
                id="email"
                placeholder="naam@bedrijf.be"
                required
                class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500"
              />
            </div>
            <div class="mb-6">
              <label
                for="phone"
                class="text-sm text-gray-600 dark:text-gray-400"
                >Telefoonnummer</label
              >
              <input
                type="text"
                name="phone"
                id="phone"
                placeholder="+32 (12) 12 34 56"
                required
                class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500"
              />
            </div>
            <div class="mb-6">
              <label
                for="message"
                class="block mb-2 text-sm text-gray-600 dark:text-gray-400"
                >Uw bericht</label
              >

              <textarea
                rows=""
                name="message"
                id="message"
                placeholder="Uw bericht"
                class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500"
                required></textarea>
            </div>
            <div class="mb-6">
              <button
                type="submit"
                class="w-full px-3 py-4 text-white bg-blue-500 rounded-md focus:bg-blue-600 focus:outline-none"
              >
                Verstuur bericht
              </button>
            </div>
            <p class="text-base text-center text-gray-400" id="result"></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
