---
import Navigation from "./Navigation.astro";
---

<header class="bg-white w-full shadow-md relative">
  <div class="max-w-7xl p-4 mx-auto flex justify-between">
    <h1 class="text-xl font-bold">Remco De Wolf</h1>
    <div>
      <Navigation transition:persist />
    </div>
  </div>
</header>
