---
import { getImage } from "astro:assets";
import imgKeyboard from "../assets/images/keyboard.jpg";
const optimizedImgKeyboard = await getImage({ src: imgKeyboard, width: 1280 });
---

<div
  class="h-screen bg-cover bg-center relative"
  style={{ backgroundImage: `url(${optimizedImgKeyboard.src})` }}
>
  <div
    class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white text-center"
  >
    <p class="text-7xl font-bold mb-10">Let's create something amazing</p>
    <p class="mb-8 text-2xl">Feel free to explore my portfolio</p>
    <div class="block ">
      <p><a class="px-4 py-2 border-white border rounded-xl text-xl" href="/contact">
      Contact Me
    </a></p>
    
    </div>
  </div>
</div>

<style>
  .bg-cover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
  }
</style>
