<article class="max-w-7xl mx-auto shadow-md px-4">
  <h1 class="text-7xl font-bold text-center m-2 text-shadow-lg">
    Welkom op mijn website.
  </h1>
  <p class="">
    Ik ben een gepassioneerd programmeur met focus op web development met Astro
    en React
  </p>
  <p>
    Neem gerust een kijkje in mijn portfolio en lees meer over mijn projecten en
    vaardigheden.
  </p>
</article>
